<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>科目二通关秘籍</key>
	<array>
		<dict>
			<key>url</key>
			<string>daocheruku</string>
			<key>image</key>
			<string>daocheruku</string>
			<key>name</key>
			<string>倒车入库</string>
		</dict>
		<dict>
			<key>url</key>
			<string>podaodingdian</string>
			<key>image</key>
			<string>podaodingdian</string>
			<key>name</key>
			<string>坡道定点停车和起步</string>
		</dict>
		<dict>
			<key>url</key>
			<string>cefangtingche</string>
			<key>image</key>
			<string>cefangtingche</string>
			<key>name</key>
			<string>侧方位停车</string>
		</dict>
		<dict>
			<key>url</key>
			<string>quxianxingshi</string>
			<key>image</key>
			<string>quxianxingshi</string>
			<key>name</key>
			<string>曲线行驶</string>
		</dict>
		<dict>
			<key>url</key>
			<string>zhijiaozhuanwan</string>
			<key>image</key>
			<string>zhijiaozhuanwan</string>
			<key>name</key>
			<string>直角转弯</string>
		</dict>
		<dict>
			<key>url</key>
			<string>kemu3</string>
			<key>image</key>
			<string>kemu3</string>
			<key>name</key>
			<string>科目二考试须知</string>
		</dict>
	</array>
	<key>科目三考试须知</key>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>上车准备</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>起步</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>直线行驶</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>靠边停车</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>会车</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>超车</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>通过人行横道、公交车站、学校</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>调头</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>夜间模拟灯光练习</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>左转注意事项</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>调头操作技巧</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>科目三实时评判系统</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>科目三考试视频教程</string>
		</dict>
	</array>
</dict>
</plist>
