<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>explain</key>
		<string>dasadasdasdas131231ewasdxasxsacas2e124easdcascdsadsadqwed13e21ewdqdwdqw</string>
		<key>number</key>
		<string>1</string>
		<key>stem</key>
		<string>机动车仪表板上（如图所示）亮表示什么？</string>
		<key>A</key>
		<string>驻车制动解除</string>
		<key>B</key>
		<string>制动踏板没回位</string>
		<key>C</key>
		<string>行车制动器失效</string>
		<key>D</key>
		<string>制动系统出现异常</string>
		<key>image</key>
		<string>question1</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>number</key>
		<string>2</string>
		<key>explain</key>
		<string>dasadasdasdasedwadxasxdaq21412edasxascascascacdaac</string>
		<key>stem</key>
		<string>驾驶人有下列哪种违法行为一次记6分？</string>
		<key>A</key>
		<string>使用其他车辆行驶证</string>
		<key>B</key>
		<string>饮酒后驾驶机动车</string>
		<key>C</key>
		<string>车速超过规定时速50%以上</string>
		<key>D</key>
		<string>违法占用应急车道行驶</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3</string>
		<key>explain</key>
		<string>dasadasdasdasascascasc3214213dasccsacdacdsacascsacdcasce3r3dascascdas</string>
		<key>stem</key>
		<string>有下列哪种违法行为的机动车驾驶人将被一次记12分？</string>
		<key>A</key>
		<string>驾驶故意污损号牌的机动车上道路行驶</string>
		<key>B</key>
		<string>机动车驾驶证被暂扣期间驾驶机动车的</string>
		<key>C</key>
		<string>以隐瞒、欺骗手段补领机动车驾驶证的</string>
		<key>D</key>
		<string>驾驶机动车不按照规定避让校车的</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>4</string>
		<key>explain</key>
		<string>13123123123213dadasdasdxasd23qerqreq1r124e12edqwddwadawdwasdq</string>
		<key>stem</key>
		<string>在道路与铁路道口遇到一个红灯亮时要尽快通过道口。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question4</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>5</string>
		<key>explain</key>
		<string>dasadasdasdas1233333123123123123123123123123123123123123123123123123</string>
		<key>stem</key>
		<string>这个标志是何含义？</string>
		<key>A</key>
		<string>A、向左急转弯</string>
		<key>B</key>
		<string>B、向右急转弯</string>
		<key>C</key>
		<string>C、向左绕行</string>
		<key>D</key>
		<string>D、连续弯路</string>
		<key>image</key>
		<string>question5</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>6</string>
		<key>stem</key>
		<string>驾驶机动车遇到这种信号灯亮时，如果已越过停止线，可以继续通行。</string>
		<key>A</key>
		<string>  对</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question6</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>7</string>
		<key>stem</key>
		<string>这个标志是何含义？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>A、双向交通</string>
		<key>B</key>
		<string>B、分离式道路</string>
		<key>C</key>
		<string>C、潮汐车道</string>
		<key>D</key>
		<string>D、减速让行</string>
		<key>image</key>
		<string>question7</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>8</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>stem</key>
		<string>机动车仪表板上（如图所示）亮，表示驻车制动器操纵杆可能没松到底。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question8</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>9</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>stem</key>
		<string>在路口右转弯遇同车道前车等候放行信号时如何行驶？</string>
		<key>A</key>
		<string>A、从前车左侧转弯</string>
		<key>B</key>
		<string>B、从右侧占道转弯</string>
		<key>C</key>
		<string>C、鸣喇叭让前车让路</string>
		<key>D</key>
		<string>D、依次停车等候</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>number</key>
		<string>10</string>
		<key>stem</key>
		<string>机动车发生正面碰撞时，安全气囊加上安全带的双重保护才能充分发挥作用。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>11</string>
		<key>stem</key>
		<string>灯光开关在该位置时，前雾灯点亮。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question11</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>12</string>
		<key>stem</key>
		<string>这个开关控制机动车哪个部位？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>风窗玻璃除雾器</string>
		<key>B</key>
		<string>风窗玻璃刮水器</string>
		<key>C</key>
		<string>危险报警闪光灯</string>
		<key>D</key>
		<string>照明、信号装置</string>
		<key>image</key>
		<string>question12</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>13</string>
		<key>stem</key>
		<string>安装防抱死制动装置（ABS）的机动车制动时，制动距离会大大缩短，因此不必保持安全车距。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>14</string>
		<key>stem</key>
		<string>机动车仪表板上（如图所示）亮表示什么？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>前照灯开启</string>
		<key>B</key>
		<string>危险报警闪光灯开启</string>
		<key>C</key>
		<string>前后位置灯开启</string>
		<key>D</key>
		<string>前后雾灯开启</string>
		<key>image</key>
		<string>question14</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>15</string>
		<key>stem</key>
		<string>机动车仪表板上（如图所示）亮时，防抱死制动系统处于打开状态。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question15</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>16</string>
		<key>stem</key>
		<string>公安交通管理部门对驾驶人的交通违法行为除依法给予行政处罚外,实行下列哪种制度？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>奖励里程制度</string>
		<key>B</key>
		<string>违法登记制度</string>
		<key>C</key>
		<string>累积记分制度</string>
		<key>D</key>
		<string>强制报废制度</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>17</string>
		<key>stem</key>
		<string>驾驶人的驾驶证损毁后不得驾驶机动车。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>18</string>
		<key>stem</key>
		<string>驾驶人的机动车驾驶证被依法扣留、暂扣的情况下不得驾驶机动车。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>19</string>
		<key>stem</key>
		<string>驾驶机动车在车道减少的路口，遇到前方车辆依次停车或缓慢行驶时怎么办？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>从前车右侧路肩进入路口</string>
		<key>B</key>
		<string>从有空隙一侧进入路口</string>
		<key>C</key>
		<string>每车道一辆依次交替驶入路口</string>
		<key>D</key>
		<string>向左变道穿插进入路口</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>20</string>
		<key>stem</key>
		<string>遇到这种情况的路段，可以进入网状线区域内停车等候。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question20</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>21</string>
		<key>stem</key>
		<string>驾驶机动车遇到漫水桥时要察明水情确认安全后再低速通过。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>22</string>
		<key>stem</key>
		<string>驾驶人在超车时，前方车辆不减速、不让道，应怎样做？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>加速继续超越</string>
		<key>B</key>
		<string>连续鸣喇叭加速超越</string>
		<key>C</key>
		<string>停止继续超车</string>
		<key>D</key>
		<string>紧跟其后，伺机再超</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>23</string>
		<key>stem</key>
		<string>醉酒驾驶机动车在道路上行驶会受到什么处罚？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>处2年以下徒刑</string>
		<key>B</key>
		<string>处拘役，并处罚金</string>
		<key>C</key>
		<string>处2年以上徒刑</string>
		<key>D</key>
		<string>处管制，并处罚金</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>24</string>
		<key>stem</key>
		<string>车辆在拥挤路段低速行驶时，遇其他车辆强行插队，应怎样做？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>加速行驶，紧跟前车，不让其进入</string>
		<key>B</key>
		<string>鸣喇叭警告，不得进入</string>
		<key>C</key>
		<string>主动礼让，确保行车安全</string>
		<key>D</key>
		<string>挤靠“加塞”车辆，逼其离开</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>25</string>
		<key>stem</key>
		<string>遇到这种情形时，应怎么办？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>从行人前方绕行</string>
		<key>B</key>
		<string>停车让行人先行</string>
		<key>C</key>
		<string>从行人后方绕行</string>
		<key>D</key>
		<string>鸣喇叭提醒行人</string>
		<key>image</key>
		<string>question25</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>26</string>
		<key>stem</key>
		<string>驾驶人一边驾车，一边吸烟对安全行车无影响。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>27</string>
		<key>stem</key>
		<string>行车中遇到正在进行作业的道路养护车辆、工程作业车时要注意避让。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>28</string>
		<key>stem</key>
		<string>驾驶车辆在交叉路口前变更车道时，应怎样驶入要变更的车道？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>进入路口实线区内</string>
		<key>B</key>
		<string>在路口前实线区内根据需要</string>
		<key>C</key>
		<string>在虚线区按导向箭头指示</string>
		<key>D</key>
		<string>在路口停止线前</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>29</string>
		<key>stem</key>
		<string>驾驶车辆行至道路急转弯处，应怎样做？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>借对向车道行驶</string>
		<key>B</key>
		<string>急剧制动低速通过</string>
		<key>C</key>
		<string>靠弯道外侧行驶</string>
		<key>D</key>
		<string>充分减速并靠右侧行驶</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>number</key>
		<string>30</string>
		<key>stem</key>
		<string>这个标志是何含义？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>左侧绕行</string>
		<key>B</key>
		<string>单向通行</string>
		<key>C</key>
		<string>注意危险</string>
		<key>D</key>
		<string>右侧绕行</string>
		<key>image</key>
		<string>question30</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>31</string>
		<key>stem</key>
		<string>行车中，遇非机动车抢行时，应怎样做？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>鸣喇叭警告</string>
		<key>B</key>
		<string>加速通过</string>
		<key>C</key>
		<string>减速让行</string>
		<key>D</key>
		<string>临近时突然加速</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>32</string>
		<key>stem</key>
		<string>道路交通标线分为指示标线、警告标线、禁止标线。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>33</string>
		<key>stem</key>
		<string>遇到这种情况的路口怎样通过？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>左转弯加速通过</string>
		<key>B</key>
		<string>加速直行通过</string>
		<key>C</key>
		<string>右转弯加速通过</string>
		<key>D</key>
		<string>确认安全后通过</string>
		<key>image</key>
		<string>question33</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>number</key>
		<string>34</string>
		<key>stem</key>
		<string>这个标志是何含义？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>分流处</string>
		<key>B</key>
		<string>向右变道</string>
		<key>C</key>
		<string>车道数增加</string>
		<key>D</key>
		<string>路面变宽</string>
		<key>image</key>
		<string>question34</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>35</string>
		<key>stem</key>
		<string>驾驶机动车应当随身携带哪种证件？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>工作证</string>
		<key>B</key>
		<string>驾驶证</string>
		<key>C</key>
		<string>身份证</string>
		<key>D</key>
		<string>职业资格证</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>36</string>
		<key>stem</key>
		<string>路中黄色分界线的作用是什么？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>分隔同向行驶的交通流</string>
		<key>B</key>
		<string>禁止跨越对向行车道</string>
		<key>C</key>
		<string>允许在左侧车道行驶</string>
		<key>D</key>
		<string>分隔对向行驶的交通流</string>
		<key>image</key>
		<string>question36</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>number</key>
		<string>37</string>
		<key>stem</key>
		<string>驾驶机动车上路前应当检查车辆安全技术性能。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>38</string>
		<key>stem</key>
		<string>已经达到报废标准的机动车经大修后可以上路行驶。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>39</string>
		<key>stem</key>
		<string>在路口遇这种情形怎样通行？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>鸣喇叭告知让行</string>
		<key>B</key>
		<string>直接加速转弯</string>
		<key>C</key>
		<string>让左方来车先行</string>
		<key>D</key>
		<string>减速缓慢转弯</string>
		<key>image</key>
		<string>question39</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>40</string>
		<key>stem</key>
		<string>驾驶机动车在这种情况下不能直行和左转弯</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question40</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>41</string>
		<key>stem</key>
		<string>驾驶机动车在铁路道口看到这种信号灯时怎样行驶？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>边观察边缓慢通过</string>
		<key>B</key>
		<string>不换挡加速通过</string>
		<key>C</key>
		<string>在火车到来前通过</string>
		<key>D</key>
		<string>不得越过停止线</string>
		<key>image</key>
		<string>question41</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>number</key>
		<string>42</string>
		<key>stem</key>
		<string>这个标志是何含义？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>堤坝路</string>
		<key>B</key>
		<string>上陡坡</string>
		<key>C</key>
		<string>下陡坡</string>
		<key>D</key>
		<string>连续上坡</string>
		<key>image</key>
		<string>question42</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>number</key>
		<string>43</string>
		<key>stem</key>
		<string>机动车仪表板上（如图所示）亮表示什么？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>行车制动系统出现故障</string>
		<key>B</key>
		<string>驻车制动器处于制动状态</string>
		<key>C</key>
		<string>防抱死制动系统出现故障</string>
		<key>D</key>
		<string>驻车制动器处于解除状态</string>
		<key>image</key>
		<string>question43</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>number</key>
		<string>44</string>
		<key>stem</key>
		<string>这个标志是何含义？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>应当鸣喇叭</string>
		<key>B</key>
		<string>禁止鸣喇叭</string>
		<key>C</key>
		<string>禁止鸣高音喇叭</string>
		<key>D</key>
		<string>禁止鸣低音喇叭</string>
		<key>image</key>
		<string>question44</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>45</string>
		<key>stem</key>
		<string>伪造、变造机动车驾驶证构成犯罪的将被依法追究刑事责任。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>46</string>
		<key>stem</key>
		<string>避免爆胎的错误的做法是什么？</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>降低轮胎气压</string>
		<key>B</key>
		<string>定期检查轮胎</string>
		<key>C</key>
		<string>更换有裂纹或有很深损伤的轮胎</string>
		<key>D</key>
		<string>及时清理轮胎沟槽里的异物</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>47</string>
		<key>stem</key>
		<string>行车中当驾驶人意识到爆胎时，应在控制住方向的情况下，轻踏制动踏板，使车辆缓慢减速，逐渐平稳地停靠于路边。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>48</string>
		<key>stem</key>
		<string>车辆发生爆胎后，驾驶人在尚未控制住车速前，不要冒险使用行车制动器停车，以避免车辆横甩发生更大的险情。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>nil</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>49</string>
		<key>stem</key>
		<string>这个仪表是何含义？
</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>电流表</string>
		<key>B</key>
		<string>压力表</string>
		<key>C</key>
		<string>水温表</string>
		<key>D</key>
		<string>燃油表</string>
		<key>image</key>
		<string>question49</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>number</key>
		<string>50</string>
		<key>stem</key>
		<string>仪表显示油箱内存油量已在警告线以内。</string>
		<key>explain</key>
		<string>dasadasdasdas</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question50</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>51</string>
		<key>stem</key>
		<string>机动车仪表板上（如图所示）亮表示发动机可能机油量不足。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question51</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>52</string>
		<key>stem</key>
		<string>驾驶机动车在路口看到这种信号灯亮时，要加速通过。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question52</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>53</string>
		<key>stem</key>
		<string>这个路口允许车辆怎样行驶？</string>
		<key>A</key>
		<string>直行或向左转弯</string>
		<key>B</key>
		<string>向左、向右转弯</string>
		<key>C</key>
		<string>向左转弯</string>
		<key>D</key>
		<string>直行或向右转弯</string>
		<key>image</key>
		<string>question53</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>54</string>
		<key>stem</key>
		<string>这一组交通警察手势是什么信号？</string>
		<key>A</key>
		<string>左转弯信号</string>
		<key>B</key>
		<string>停止信号</string>
		<key>C</key>
		<string>靠边停车信号</string>
		<key>D</key>
		<string>右转弯信号</string>
		<key>image</key>
		<string>question54</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>55</string>
		<key>stem</key>
		<string>雾天对安全行车的主要影响是什么？</string>
		<key>A</key>
		<string>易发生侧滑</string>
		<key>B</key>
		<string>发动机易熄火
发动机易熄火
</string>
		<key>C</key>
		<string>行驶阻力增大</string>
		<key>D</key>
		<string>能见度低，视线不清</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>56</string>
		<key>stem</key>
		<string>夜间驾驶人对物体的观察明显比白天差，视距会有什么变化？</string>
		<key>A</key>
		<string>变长</string>
		<key>B</key>
		<string>变短</string>
		<key>C</key>
		<string>无规律</string>
		<key>D</key>
		<string>不变</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>57</string>
		<key>stem</key>
		<string>行车中突遇对方车辆强行超车，占据自己车道，正确的做法是什么？</string>
		<key>A</key>
		<string>加速行驶</string>
		<key>B</key>
		<string>尽可能减速避让、直至停车</string>
		<key>C</key>
		<string>保持原车速行驶</string>
		<key>D</key>
		<string>挡住其去路</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>58</string>
		<key>stem</key>
		<string>机动车在道路上发生轻微交通事故且妨碍交通时，不需移动。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>59</string>
		<key>stem</key>
		<string>遇有这种排队等候的情形怎么做？</string>
		<key>A</key>
		<string>依次排队等候</string>
		<key>B</key>
		<string>从右侧借道超越</string>
		<key>C</key>
		<string>从两侧随意超越</string>
		<key>D</key>
		<string>从左侧跨越实线超越</string>
		<key>image</key>
		<string>question59</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>60</string>
		<key>stem</key>
		<string>路中心的双黄实线属于哪一类标线？</string>
		<key>A</key>
		<string>辅助标线</string>
		<key>B</key>
		<string>指示标线</string>
		<key>C</key>
		<string>警告标志
警告标志
</string>
		<key>D</key>
		<string>禁止标线</string>
		<key>image</key>
		<string>question60</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>61</string>
		<key>stem</key>
		<string>行车中仪表板上（如图所示）亮表示什么？</string>
		<key>A</key>
		<string>发动机温度过低</string>
		<key>B</key>
		<string>发动机温度过高</string>
		<key>C</key>
		<string>发动机润滑系故障
发动机润滑系故障
</string>
		<key>D</key>
		<string>发动机冷却系故障</string>
		<key>image</key>
		<string>question61</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>62</string>
		<key>stem</key>
		<string>夜间通过没有路灯或路灯照明不良时，应将近光灯转换为远光灯，但同向行驶的后车不得使用远光灯。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>63</string>
		<key>stem</key>
		<string>驾驶小型载客汽车在高速公路行驶的最低车速为90公里/小时。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>64</string>
		<key>stem</key>
		<string>夜间通过无交通信号灯控制的交叉路口时，不得变换远、近光灯。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>65</string>
		<key>stem</key>
		<string>遇有浓雾或特大雾天能见度过低，行车困难时，应怎样做？</string>
		<key>A</key>
		<string>开启示廓灯、雾灯，靠右行驶</string>
		<key>B</key>
		<string>开启前照灯，继续行驶</string>
		<key>C</key>
		<string>开启危险报警闪光灯和雾灯，选择安全地点停车</string>
		<key>D</key>
		<string>开启危险报警闪光灯，继续行驶</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>66</string>
		<key>stem</key>
		<string>连续降雨天气，山区公路可能会出现路肩疏松和堤坡坍塌现象，行车时应选择道路中间坚实的路面，避免靠近路边行驶。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>67</string>
		<key>stem</key>
		<string>在冰雪路面上行车，必须降低车速、加大安全距离。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>68</string>
		<key>stem</key>
		<string>车辆行至泥泞或翻浆路段时，应停车观察，选择平整、坚实的路段缓慢通过。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>69</string>
		<key>stem</key>
		<string>车辆在主干道上行驶，驶近主支干道交汇处时，为防止与从支路突然驶入的车辆相撞，应怎样做？</string>
		<key>A</key>
		<string>提前减速、观察，谨慎驾驶</string>
		<key>B</key>
		<string>保持正常速度行驶</string>
		<key>C</key>
		<string>提前加速通过
提前加速通过
</string>
		<key>D</key>
		<string>鸣喇叭，迅速通过</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>70</string>
		<key>stem</key>
		<string>夜间起步前，应当先开启近光灯。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>71</string>
		<key>stem</key>
		<string>使用伪造、变造的行驶证一次记几分？</string>
		<key>A</key>
		<string>12分</string>
		<key>B</key>
		<string>6分</string>
		<key>C</key>
		<string>3分</string>
		<key>D</key>
		<string>2分</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>72</string>
		<key>stem</key>
		<string>造成交通事故后逃逸，尚不构成犯罪的一次记12分。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nl</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>73</string>
		<key>stem</key>
		<string>驾驶机动车在高速公路上倒车、逆行、穿越中央分隔带掉头的一次记6分。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>74</string>
		<key>stem</key>
		<string>车速超过规定时速达到50%的一次记3分。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>75</string>
		<key>stem</key>
		<string>车辆行至交叉路口时，左转弯车辆在任何时段都可以进入左弯待转区。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>76</string>
		<key>stem</key>
		<string>车辆在高速公路匝道上可以停车。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>77</string>
		<key>stem</key>
		<string>车辆在高速公路以每小时100公里的速度行驶时，距同车道前车100米以上为安全距离。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>78</string>
		<key>stem</key>
		<string>驾驶人未携带哪种证件驾驶机动车上路，交通警察可依法扣留车辆？</string>
		<key>A</key>
		<string>机动车通行证</string>
		<key>B</key>
		<string>居民身份证</string>
		<key>C</key>
		<string>从业资格证</string>
		<key>D</key>
		<string>机动车行驶证</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>79</string>
		<key>stem</key>
		<string>机动车在高速公路上发生故障或交通事故无法正常行驶时由什么车拖曳或牵引？</string>
		<key>A</key>
		<string>过路车</string>
		<key>B</key>
		<string>大客车</string>
		<key>C</key>
		<string>同行车</string>
		<key>D</key>
		<string>清障车</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>80</string>
		<key>stem</key>
		<string>对未按照国家规定投保交强险的车辆，交通警察可依法予以扣留。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>81</string>
		<key>stem</key>
		<string>驾驶机动车在道路上发生交通事故要立即将车移到路边。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>82</string>
		<key>stem</key>
		<string>这辆停在路边的机动车没有违法行为。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question82</string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>83</string>
		<key>stem</key>
		<string>这样在路边临时停放机动车有什么违法行为？</string>
		<key>A</key>
		<string>在非机动车道停车</string>
		<key>B</key>
		<string>停车占用机动车道</string>
		<key>C</key>
		<string>距离路边超过30厘米</string>
		<key>D</key>
		<string>在有禁停标线路段停车</string>
		<key>image</key>
		<string>question83</string>
		<key>answer</key>
		<string>D</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>84</string>
		<key>stem</key>
		<string>车辆驶近停在车站的公交车辆时，为预防公交车突然起步或行人从车前穿出，应怎样做？</string>
		<key>A</key>
		<string>减速，保持足够间距，随时准备停车</string>
		<key>B</key>
		<string>保持正常车速行驶</string>
		<key>C</key>
		<string>鸣喇叭提醒，加速通过</string>
		<key>D</key>
		<string>随时准备紧急制动</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>85</string>
		<key>stem</key>
		<string>车辆转弯时应沿道路右侧行驶，不要侵占对方的车道，做到“左转转大弯，右转转小弯”。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>86</string>
		<key>stem</key>
		<string>在什么情况下不得行车？</string>
		<key>A</key>
		<string>车窗没关好</string>
		<key>B</key>
		<string>车门没关好</string>
		<key>C</key>
		<string>顶窗没关好</string>
		<key>D</key>
		<string>驾乘人员系好安全带</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>87</string>
		<key>stem</key>
		<string>不要在驾驶室的前后窗范围内悬挂和放置妨碍驾驶人视线的物品。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>88</string>
		<key>stem</key>
		<string>机动车在环形路口内行驶，遇有其他车辆强行驶入时，只要有优先权就可以不避让</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>89</string>
		<key>stem</key>
		<string>车辆进入山区道路后，要特别注意“连续转弯”标志，并主动避让车辆及行人，适时减速和提前鸣喇叭。</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>90</string>
		<key>stem</key>
		<string>使用其他机动车号牌、行驶证的一次记3分。
</string>
		<key>A</key>
		<string>对</string>
		<key>B</key>
		<string>错</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>B</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>91</string>
		<key>stem</key>
		<string>驾驶人违反交通运输管理法规发生重大事故致人死亡且逃逸的，处多少年有期徒刑？</string>
		<key>A</key>
		<string>3年以下</string>
		<key>B</key>
		<string>7年以上</string>
		<key>C</key>
		<string>3年以上7年以下</string>
		<key>D</key>
		<string>10年以上
</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>92</string>
		<key>stem</key>
		<string>在这个弯道上行驶时的最高速度不能超过多少？</string>
		<key>A</key>
		<string>30公里/小时</string>
		<key>B</key>
		<string>40公里/小时</string>
		<key>C</key>
		<string>50公里/小时</string>
		<key>D</key>
		<string>70公里/小时</string>
		<key>image</key>
		<string>question92</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>93</string>
		<key>stem</key>
		<string>山区道路车辆进入弯道前，在对面没有来车的情况下，应怎样做？</string>
		<key>A</key>
		<string>应“减速、鸣喇叭、靠右行”</string>
		<key>B</key>
		<string>可靠弯道外侧行驶
</string>
		<key>C</key>
		<string>可短时间借用对方的车道</string>
		<key>D</key>
		<string>可加速沿弯道切线方向通过</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>94</string>
		<key>stem</key>
		<string>行车中超越右侧停放的车辆时，为预防其突然起步或开启车门，应怎样做？</string>
		<key>A</key>
		<string>预留出横向安全距离，减速行驶</string>
		<key>B</key>
		<string>保持正常速度行驶</string>
		<key>C</key>
		<string>长鸣喇叭</string>
		<key>D</key>
		<string>加速通过</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>95</string>
		<key>stem</key>
		<string>路中心的黄色斜线填充是何含义？</string>
		<key>A</key>
		<string>双侧可跨越同向车道分界线</string>
		<key>B</key>
		<string>可跨越对向车道分界线</string>
		<key>C</key>
		<string>禁止跨越对向车行道分界线</string>
		<key>D</key>
		<string>单向行驶车道分界线</string>
		<key>image</key>
		<string>question95</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>96</string>
		<key>stem</key>
		<string>图中圈内白色横实线是何含义？</string>
		<key>A</key>
		<string>停止线</string>
		<key>B</key>
		<string>让行线</string>
		<key>C</key>
		<string>待转线</string>
		<key>D</key>
		<string>减速线</string>
		<key>image</key>
		<string>question96</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>97</string>
		<key>stem</key>
		<string>机动车仪表板上（如图所示）亮时表示什么？</string>
		<key>A</key>
		<string>已开启前雾灯</string>
		<key>B</key>
		<string>已开启前照灯近光</string>
		<key>C</key>
		<string>已开启前照灯远光</string>
		<key>D</key>
		<string>已开启后雾灯</string>
		<key>image</key>
		<string>question97</string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>98</string>
		<key>stem</key>
		<string>危险报警闪光灯可用于下列什么场合？</string>
		<key>A</key>
		<string>遇到道路拥堵时</string>
		<key>B</key>
		<string>在道路上跟车行驶时</string>
		<key>C</key>
		<string>机动车发生故障停车时</string>
		<key>D</key>
		<string>引领后车行驶时</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>C</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>99</string>
		<key>stem</key>
		<string>在这段道路上，只要不影响其他车辆通行的前提下可以掉头。</string>
		<key>A</key>
		<string>对
</string>
		<key>B</key>
		<string>错
</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string>question99</string>
		<key>answer</key>
		<string>A</string>
	</dict>
	<dict>
		<key>explain</key>
		<string></string>
		<key>number</key>
		<string>100</string>
		<key>stem</key>
		<string>驾驶机动车在上道路行驶前驾驶人要按规定系好安全带。</string>
		<key>A</key>
		<string>对
</string>
		<key>B</key>
		<string>错
</string>
		<key>C</key>
		<string>nil</string>
		<key>D</key>
		<string>nil</string>
		<key>image</key>
		<string></string>
		<key>answer</key>
		<string>A</string>
	</dict>
</array>
</plist>
